@import "states";

iframe.jsbin-embed {
  width: 100%;
  height: 600px !important;
}

.reveal {

  .plain-img {
    border: none;
    box-shadow: none;
  }

  .juxtapose-figures {

    position: relative;
    left: -5%;

    img {
      @extend .plain-img;
    }

    .compare-caption {
      position: absolute;
      font-size: 4em;
      top: 50%;
    }

    .figure.left {
      position: relative;
    }

    .figure.right {
      position: relative;
      left: 10%;
    }

  }
}
